body {
  font-family: "Noto Sans TC", sans-serif;
  /* 思源黑體*/
  /* font-family: "Crimson Pro", serif; */
  /* font-family: 'Indie Flower', cursive; */
  /* font-size: 52px; */
}

.top-widgets {
  padding: 3.17rem 0 4rem;
  position: relative;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  padding: 3.17rem 2.6rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 111rem;
}

.demo {
  color: aliceblue;
  font-size: 50px;
  /* bottom: 0; */
  position: fixed;
  /* font-size: 3rem; */
  line-height: 3.5rem;
  letter-spacing: -2.5px;
  padding: 1.6rem 1.6rem 1.6rem 0;
}

.clock {
  text-align: center;
  color: aliceblue;
  font-size: 100px;
  bottom: 0;
  position: inherit;
  /* font-size: 3rem; */
  line-height: 3.5rem;
  letter-spacing: -2.5px;
  padding: 1.6rem 1.6rem 1.6rem 0;
}

.timezone-demo {
  /* font-family: "Oswald", sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
  /* font-size: 55px; */
  /* line-height: 10rem; */
  /* letter-spacing: -2.5px; */
  padding: 1.6rem 1.6rem 1.6rem 10rem;
}

.icon-app {
  color: aliceblue;
}

/* animation icon */
.icon-app .icon {
  padding-right: 1.6rem;
  -webkit-animation: rotation 6s infinite linear;
  animation: rotation 6s infinite linear;
}

/* animate setting */
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/* background */

.background {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  border: 2px solid #a9a9a9;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

.bg-day {
  background-image: url(/assets/img/bg-image-daytime.jpg);
}

@media screen and (min-width: 768px) {
  .bg-day {
    background-image: url(/assets/img/bg-image-daytime.jpg);
  }
}

@media screen and (min-width: 992px) {
  .bg-day {
    background-image: url(/assets/img/bg-image-daytime.jpg);
  }
}

.bg-night {
  background-image: url(/assets/img/bg-night.jpg);
}

@media screen and (min-width: 768px) {
  .bg-night {
    background-image: url(/assets/img/bg-night.jpg);
  }
}

@media screen and (min-width: 992px) {
  .bg-night {
    background-image: url(/assets/img/bg-night.jpg);
  }
}